<?xml version="1.0" encoding="UTF-8"?>
 
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" id="strider.camera" version="0.1.0">
    <name>StriderCamera</name>
    <description>Strider - Custom Camera for Cordova Phonegap 3.0.1</description>
    <author>Havop - Bruno A. Duarte - November 12, 2013</author>
    <license>Apache 2.0 License</license>
    <keywords>phonegap,cordova,camera</keywords>
 
    <js-module src="www/Camera.js" name="camera">
        <clobbers target="strider.camera" />
    </js-module>
	<js-module src="www/CameraConstants.js" name="Camera">
        <clobbers target="Camera" />
    </js-module>
	<js-module src="www/CameraPopoverOptions.js" name="CameraPopoverOptions">
        <clobbers target="CameraPopoverOptions" />
    </js-module>
	<js-module src="www/CameraPopoverHandle.js" name="CameraPopoverHandle">
        <clobbers target="CameraPopoverHandle" />
    </js-module>
 
    <!-- android -->
    <platform name="android">
    
		<config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:label="@string/app_name" android:name="strider.camera.CameraActivity" android:screenOrientation="landscape" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            </activity>
        </config-file>
        
		<config-file target="AndroidManifest.xml" parent="/manifest">
		    <uses-permission android:name="android.permission.CAMERA" />
		    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
		    <uses-feature android:name="android.hardware.camera" />
		    <uses-feature android:name="android.hardware.camera.autofocus" />
        </config-file>
    
        <config-file target="res/xml/config.xml" parent="/widget">
            <feature name="StriderCamera">
                <param name="android-package" value="strider.camera.CameraLauncher"/>
            </feature>
        </config-file>
        
		<config-file target="res/values/strings.xml" parent="/resources">
        	<string name="lblCapturar">Capturar</string>
    		<string name="lblCancelar">Cancelar</string>
        </config-file>
 
		<source-file src="src/android/ExifHelper.java" target-dir="src/strider/camera" />
		<source-file src="src/android/FileHelper.java" target-dir="src/strider/camera" />
		
        <source-file src="src/android/CameraActivity.java" target-dir="src/strider/camera" />
        <source-file src="src/android/CameraLauncher.java" target-dir="src/strider/camera" />  
        <source-file src="src/android/CameraPreview.java" target-dir="src/strider/camera" />
        
        <source-file src="src/android/camera_sv.xml" target-dir="res/layout" />
        
     </platform>
     
     <!-- ios -->
     <platform name="ios">
     
     </platform>
       
</plugin>
    