<?xml version="1.0" encoding="UTF-8"?>
 
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" id="plugins.camera" version="0.1.0">
    <name>StriderCamera</name>
    <description>Strider - Custom Camera for Cordova Phonegap 3.0.1</description>
    <author>Havop - Bruno A. Duarte</author>
    <license>Apache 2.0 License</license>
    <keywords>phonegap,cordova,camera</keywords>
 
    <js-module src="www/StriderCamera.js" name="StriderCamera">
        <clobbers target="strider.camera" />
    </js-module>
 
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="StriderCamera">
                <param name="android-package" value="plugins.camera.StriderCameraLauncher"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <feature name="StriderCamera">
                <param name="android-package" value="plugins.camera"/>
            </feature>
        </config-file>
 
        <source-file src="src/android/StriderCameraActivity.java" target-dir="src/plugins/camera" />
        <source-file src="src/android/StriderCameraLauncher.java" target-dir="src/plugins/camera" />  
        <source-file src="src/android/StriderCameraPreview.java" target-dir="src/plugins/camera" />
        
        <source-file src="src/android/stridercamera_sv.xml" target-dir="res/layout" />
     </platform>
     
     <platform name="ios">
     	<!-- ios-specific elements -->
     </platform>
       
</plugin>
    